# IGNORE these pages (WIP)
/public/fauna/template.html
/public/cottage/buttons-n-url.html
/public/flora/other/beloved.html
/public/flora/other/beloved.css

# NO IGNORING

# IGNORE these files
*.cur
*.mp3