# IGNORE these pages (WIP)
/public/fauna/template.html
/public/fauna/journal/25-09-25.html
/public/flora/other/beloved.html
/public/flora/other/beloved.css

# NO IGNORING

# IGNORE these files
*.cur
*.mp3