.templateWebring {
    padding: 6px;
    box-sizing: border-box;
    max-width: 100%;
    width: 280px;
    text-align: center;
    height: 120px;
    border: 2px solid #DD28A7;
    background-image: url("/assets/graphics/webring-bg.png");
    background-size: cover;
    display: flex;
    gap: 7px;
}
#webringiconbox {
    border: 2px solid #DD28A7;
    position: relative;
    background-image: url("/assets/icons/snoopy.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100px;
    max-width: 100px;
    width: 100%;
    display: block;
}
#webringdescbox {
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed #DD28A7;
}
#text {
    line-height: normal;
    font-weight: normal;
    color: #452134;
    font-family: 'Verdana', serif;
    font-size: small;
    text-align: center;
}
