    html, body {
        background-image: url("../../assets/graphics/strip30.gif");
        background-attachment: fixed;
    }
    main {
        background-color: var(--color-white);
        width: 75%; /* Or any specific width */
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        border-left: 24px solid orange;
        border-right: 24px solid orange;
    }
    a {
        color: #555;
        font-size: 1.25rem;
    }
    a:hover {
        background-color: antiquewhite;
    }
    .container {
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;
        margin-top: 1rem;
        justify-content: center;
    }
    .speech {
        font-size: 0.65rem;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
        background-color: var(--color-brown);
        color: var(--color-white);
        position: relative;
        padding: 5px;
        border-radius: 10px;
        min-height: fit-content;
        width: 200px;
        text-align: center;
    }
    .speech::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-right-color: var(--color-brown);
        border-left: 0;
        margin-top: -16px;
        margin-left: -9px;
    }
    .me {
        max-width: 100%;
        margin: 0;
    }
    .gallery {
        display: flex;
        justify-content: baseline;
        max-width: 100%;
        width: 1000px;
        flex-wrap: wrap;
        gap: 10px;
    }
    .gallery img {
        width: 160px;
        height: 280px;
        padding: 5px;
        vertical-align: middle;
        object-fit: cover;
        object-position: center;
        border: 1px dashed var(--color-black);
    }
    .luv {
        display: flex;
        margin-bottom: 1.5rem;
        align-items: flex-start
    }
    .beloved-name {
        font-weight: bold;
        font-size: 1.15rem;
    }
    .beloved {
        max-width: 100%;
        width: 150px;
        border: 1px dashed var(--color-black);
        padding: 4px;
        background-color: var(--color-white);
        margin: 1rem;
    }
@media only screen and (max-width: 960px) {
    main {
        width: auto;
    }
}
@media only screen and (max-width: 480px) {
    main {
        padding: 0.5rem;
    }
    h2 {
        text-align: center;
    }
    .speech::after {
        display: none;
    }
    .luv, .container {
        flex-direction: column;
        align-items: center;
    }
    .beloved {
        width: 140px;
        height: auto;
    }
    .gallery {
        justify-content: center;
        gap: 5px;
    }
    .gallery img {
        width: 110px;
        height: auto;
    }
}